@if(!loadingChart){
  <div class="flex items-center justify-center mb-4 gap-5">
    <span class="flex items-center mr-4 gap-2">
      <span class="inline-block w-8 h-6 bg-[#00fbc0] rounded-xs" ></span>
      {{moveFirst.name}}
    </span>
    <span class="flex items-center gap-2">
      <span class="inline-block w-8 h-6 bg-[#1b34d9] rounded-xs" ></span>
      {{moveSecond.name}}
    </span>
  </div>
  <section class="flex flex-col items-center justify-center">
    <div id="stats-chart" class="flex flex-col items-center justify-center"></div>
  </section>
}@else {
  <div class="flex items-center justify-center mt-20">
    <span class="loader"></span>
  </div>
}
