@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: #ececec;
}

/* header{
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-row{
    background: inherit !important;
}
